<div style="border: 1px solid; text-align:left; padding:4%; margin:1rem 0; border-radius:1rem;
border-color: #bbb;">
    <div>
        <strong>
            {{ comment.writer.profile.nickname }}
        </strong>
        &nbsp&nbsp&nbsp
        {{ comment.created_at }}
    </div>
        {{ comment.content }}
    <div style="margin:1rem 0;">

    </div>
    {% if comment.writer == user %}
    <div style="text-align:right">
        <a href="{% url 'commentapp:delete' pk=comment.pk %}"\\
        class="btn btn-danger rounded-pill">
            Delete
        </a>
    </div>
    {% endif %}
</div>