    <div class="pragmatic_header">
        <div>
            <h1 class="pragmatic_logo">Pragmatic</h1>
        </div>

        <div>
            <span>nav1</span>
            <span>nav1</span>
            <span>nav1</span>
            {% if not user.is_authenticated %}
            <a href="{% url 'accountapp:login' %}?next={{ request.path }}">
                <span>login</span>
            </a>
            {% else %}
            <a href="{% url 'accountapp:detail' pk=user.pk%}">
                <sapn>MyPage</sapn>
            </a>

            <a href="{% url 'accountapp:logout'%}?next={{ request.path}}">
                <sapn>logout</sapn>
            </a>

            {% endif %}
        </div>
    </div>
